@charset "UTF-8";

:root {
    /* 変数の定義（デフォルトはライト用） */
    --bg: #e2e6e4;
    --text: #121212;
    --accent: #4caf50;
    --box-bg: #f8f9fa;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* ダークモードの時だけ、変数の中身を入れ替える */
        --bg: #121212;
        --text: #f8f9fa;
        --box-bg: #575757;
    }
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: var(--bg);
    margin: 0;
    color: var(--text);
    margin-bottom: 60px;
}

header {
    background-color: var(--accent);
    color: var(--text);
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

main {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.balance-card {
    background: var(--box-bg);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    margin-bottom: 20px;
}

#total-amount {
    font-size: 2rem;
    font-weight: bold;
    color: var(--accent);
    margin: 10px 0 0;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    background: var(--box-bg);
    padding: 12px;
    border: 1px solid #ddd;
    @media (prefers-color-scheme: dark){border-color: #929191;}
    border-radius: 8px;
    font-size: 16px; /* iPhoneでズームされないサイズ */
}

button {
    padding: 12px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.history {
    background: var(--box-bg);
    border-radius: 12px;
    padding: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #999999;
    @media (prefers-color-scheme: dark){border-bottom: 1px solid #eee;}
}

li:last-child {
    border-bottom: none;
}

footer {
    position: fixed;
    bottom: 0; /* 下端に固定 */
    left: 0;
    width: 100%;
    height: 60px;
}

#reset-btn {
    margin-left: 20px;
}

#version {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    right: 10px;
}